<div *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!loading" fxLayoutAlign="center top" fxFlexFill class="main-div">
  <mat-card fxFlex="50">
    <mat-toolbar color="primary">Patient registration form</mat-toolbar>
    <form *ngIf="!loading" class="needs-validation" (ngSubmit)="addPatient()" [formGroup]="patientForm">
      <div class="row">
        <div class="col">
          <mat-form-field>
            <input matInput placeholder="First Name *" type="text" class="form-control" id="validationFirstName" formControlName="firstName"
              [ngClass]="{'is-valid': form.firstName.errors == null}">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <input matInput placeholder="Last Name *" type="text" class="form-control" id="validationLastName" formControlName="lastName"
              [ngClass]="{'is-valid': form.lastName.errors == null}">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field>
            <input matInput placeholder="Birthday *" type="date" class="form-control" id="validationBirthday" formControlName="birthday"
              [ngClass]="{'is-valid': form.birthday.errors == null}">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <input matInput placeholder="Address *" type="text" class="form-control" id="validationAddress" formControlName="address"
              [ngClass]="{'is-valid': form.address.errors == null}">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="file-to-upload">
            <label class="custom-file-label" for="customFileLang">Patient Photo</label>
            <input #file accept='image/*' (change)="preview(file.files)" type="file" class="custom-file-input" name="image" id="customFileLang" lang="es">

            <img [src]="imgURL" height="100" *ngIf="imgURL">
          </div>
        </div>
        <div class="col">
          <button  mat-raised-button color="primary" type="submit">Register</button>
        </div>
      </div>
    </form>
  </mat-card>
</div>
