<mat-toolbar color="primary" *ngIf="authService.isAuthenticated">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Medical App</span>
  <span class="example-spacer"></span>

  <button mat-button [matMenuTriggerFor]="patientMenu">Patient</button>
  <mat-menu #patientMenu="matMenu">
    <button routerLink="/patients/add" mat-menu-item>Add patient</button>
    <button routerLink="/patients/list" mat-menu-item>Patients list</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="doctorMenu">Doctors</button>
  <mat-menu #doctorMenu="matMenu">
    <button routerLink="/doctors/add" mat-menu-item>Add doctor</button>
    <button routerLink="/doctors/list" mat-menu-item>Doctors list</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="consultMenu">Consults</button>
  <mat-menu #consultMenu="matMenu">
    <button routerLink="/consults/add" mat-menu-item>Add consult</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="optionsMenu">Options</button>
  <mat-menu #optionsMenu="matMenu">
    <button (click)="logout()" mat-menu-item>Log Out</button>
  </mat-menu>
</mat-toolbar>

<router-outlet></router-outlet>
